/* CORES */

.dass-sb-color {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  border-radius: var(--dass-border-radius-lg);
}

.dass-color--brand {
  background-color: var(--dass-color--brand);
}

.dass-color--brand__light {
  background-color: var(--dass-color--brand__light);
}

.dass-color--brand__lighter {
  background-color: var(--dass-color--brand__lighter);
}

.dass-color--brand__dark {
  background-color: var(--dass-color--brand__dark);
}

.dass-color--brand__darker {
  background-color: var(--dass-color--brand__darker);
}

.dass-color--primary {
  background-color: var(--dass-color--primary);
}

.dass-color--primary__light {
  background-color: var(--dass-color--primary__light);
}

.dass-color--primary__lighter {
  background-color: var(--dass-color--primary__lighter);
}

 .dass-color--primary__dark {
  background-color: var(--dass-color--primary__dark);
 }

 .dass-color--primary__darker {
  background-color: var(--dass-color--primary__darker);
 }

.dass-color--blue {
  background-color: var(--dass-color--blue);
}
.dass-color--blue__light {
  background-color: var(--dass-color--blue__light);
}

.dass-color--blue__lighter {
  background-color: var(--dass-color--blue__lighter);
}

.dass-color--blue__dark {
  background-color: var(--dass-color--blue__dark);
}

.dass-color--blue__darker {
  background-color: var(--dass-color--blue__darker);
}

.dass-color--green {
  background-color: var(--dass-color--green);
}
.dass-color--green__light {
  background-color: var(--dass-color--green__light);
}

.dass-color--green__lighter {
  background-color: var(--dass-color--green__lighter);
}

.dass-color--green__dark {
  background-color: var(--dass-color--green__dark);
}

.dass-color--green__darker {
  background-color: var(--dass-color--green__darker);
}

.dass-color--yellow {
  background-color: var(--dass-color--yellow);
}
.dass-color--yellow__light {
  background-color: var(--dass-color--yellow__light);
}

.dass-color--yellow__lighter {
  background-color: var(--dass-color--yellow__lighter);
}

.dass-color--yellow__dark {
  background-color: var(--dass-color--yellow__dark);
}

.dass-color--yellow__darker {
  background-color: var(--dass-color--yellow__darker);
}

.dass-color--orange {
  background-color: var(--dass-color--orange);
}

.dass-color--orange__light {
  background-color: var(--dass-color--orange__light);
}

.dass-color--orange__lighter {
  background-color: var(--dass-color--orange__lighter);
}

.dass-color--orange__dark {
  background-color: var(--dass-color--orange__dark);
}

.dass-color--orange__darker {
  background-color: var(--dass-color--orange__darker);
}

.dass-color-neutral__100 {
  background-color: var(--dass-color-neutral__100);
}

.dass-color-neutral__90 {
  background-color: var(--dass-color-neutral__90);
}

.dass-color-neutral__70 {
  background-color: var(--dass-color-neutral__70);
}

.dass-color-neutral__50 {
  background-color: var(--dass-color-neutral__50);
}

.dass-color-neutral__30 {
  background-color: var(--dass-color-neutral__30);
}

.dass-color-neutral__15 {
  background-color: var(--dass-color-neutral__15);
}

.dass-color-neutral__07 {
  background-color: var(--dass-color-neutral__07);
}

.dass-color-neutral__03 {
  background-color: var(--dass-color-neutral__03);
}

.dass-color-neutral__00 {
  background-color: var(--dass-color-neutral__00);
}

.dass-color-status--success {
  background-color: var(--dass-color-status--success);
}

.dass-color-status--success__light {
  background-color: var(--dass-color-status--success__light);
}

.dass-color-status--success__dark {
  background-color: var(--dass-color-status--success__dark);
}

.dass-color-status--warning {
  background-color: var(--dass-color-status--warning);
}

.dass-color-status--warning__light {
  background-color: var(--dass-color-status--warning__light);
}

.dass-color-status--warning__dark {
  background-color: var(--dass-color-status--warning__dark);
}

.dass-color-status--error {
  background-color: var(--dass-color-status--error);
}

.dass-color-status--error__light {
  background-color: var(--dass-color-status--error__light);
}

.dass-color-status--error__dark {
  background-color: var(--dass-color-status--error__dark);
}

.dass-color-status--info {
  background-color: var(--dass-color-status--info);
}

.dass-color-status--info__light {
  background-color: var(--dass-color-status--info__light);
}

.dass-color-status--info__dark {
  background-color: var(--dass-color-status--info__dark);
}

.dass-color-text--dark__100 {
  background-color: var(--dass-color-text--dark__100);
}

.dass-color-text--dark__90 {
  background-color: var(--dass-color-text--dark__90);
}

.dass-color-text--dark__70 {
  background-color: var(--dass-color-text--dark__70);
}

.dass-color-text--dark__50 {
  background-color: var(--dass-color-text--dark__50);
}

.dass-color-text--dark__30 {
  background-color: var(--dass-color-text--dark__30);
}

.dass-color-text--light__15 {
  background-color: var(--dass-color-text--light__15);
}

.dass-color-text--light__07 {
  background-color: var(--dass-color-text--light__07);
}

.dass-color-text--light__03 {
  background-color: var(--dass-color-text--light__03);
}

.dass-color-text--light__00 {
  background-color: var(--dass-color-text--light__00);
}

/* BORDAS */

.dass-sb-border {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background-color: var(--dass-color--primary);
}

.dass-border-radius-sm {
  border-radius: var(--dass-border-radius-sm);
}

.dass-border-radius-md {
  border-radius: var(--dass-border-radius-md);
}

.dass-border-radius-lg {
  border-radius: var(--dass-border-radius-lg);
}

/* TIPOGRAFIA */

.dass-font-display--1 {
  font: var(--dass-font-display--1) !important;
}

.dass-font-display--2 {
  font: var(--dass-font-display--2) !important;
}

.dass-font-display--3 {
  font: var(--dass-font-display--3) !important;
}

.dass-font-display--4 {
  font: var(--dass-font-display--4) !important;
}

.dass-font-heading--1__regular {
  font: var(--dass-font-heading--1__regular) !important;
}

.dass-font-heading--1__bold {
  font: var(--dass-font-heading--1__bold) !important;
}

.dass-font-heading--2__regular {
  font: var(--dass-font-heading--2__regular) !important;
}

.dass-font-heading--2__bold {
  font: var(--dass-font-heading--2__bold) !important;
}

.dass-font-heading--3__regular {
  font: var(--dass-font-heading--3__regular) !important;
}

.dass-font-heading--3__bold {
  font: var(--dass-font-heading--3__bold) !important;
}

.dass-font-heading--4__regular {
  font: var(--dass-font-heading--4__regular) !important;
}

.dass-font-heading--4__bold {
  font: var(--dass-font-heading--4__bold) !important;
}

.dass-font-heading--5__regular {
  font: var(--dass-font-heading--5__regular) !important;
}

.dass-font-heading--5__bold {
  font: var(--dass-font-heading--5__bold) !important;
}

.dass-font-body--default__regular {
  font: var(--dass-font-body--default__regular) !important;
}

.dass-font-body--default__bold {
  font: var(--dass-font-body--default__bold) !important;
}

.dass-font-body--small__regular {
  font: var(--dass-font-body--small__regular) !important;
}

.dass-font-body--small__bold {
  font: var(--dass-font-body--small__bold) !important;
}

.dass-font-body--caption__regular {
  font: var(--dass-font-body--caption__regular) !important;
}

.dass-font-body--caption__bold {
  font: var(--dass-font-body--caption__bold) !important;
}

.dass-font-body--caption-small__regular {
  font: var(--dass-font-body--caption-small__regular) !important;
}

.dass-font-body--caption-small__bold {
  font: var(--dass-font-body--caption-small__bold) !important;
}

.dass-font-body--global__link {
  font: var(--dass-font-body--global__link) !important;
}

.dass-font-body--global__label {
  font: var(--dass-font-body--global__label) !important;
}

.dass-font-body--global__button {
  font: var(--dass-font-body--global__button) !important;
}

.dass-font-body--global__message {
  font: var(--dass-font-body--global__message) !important;
}

/* SOMBRAS */

.dass-sb-shadow {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background-color: var(--dass-color--primary) !important;
  border-radius: var(--dass-border-radius-lg) !important;
}

.dass-shadow-sm {
  box-shadow: var(--dass-shadow-sm);
}

.dass-shadow-md {
  box-shadow: var(--dass-shadow-md);
}

.dass-shadow-lg {
  box-shadow: var(--dass-shadow-lg);
}

.dass-shadow-focus {
  outline: var(--dass-shadow-focus);
}

.sb-show-main {
  background: #fafafa !important;
}