/* CORES */

.dass-sb-color {
  display: inline-flex;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  border-radius: var(--border-radius-lg);
}

.color-brand {
  background-color: var(--color-brand);
}

.color-brand__light {
  background-color: var(--color-brand__light);
}

.color-brand__lighter {
  background-color: var(--color-brand__lighter);
}

.color-brand__dark {
  background-color: var(--color-brand__dark);
}

.color-brand__darker {
  background-color: var(--color-brand__darker);
}

.color-primary {
  background-color: var(--color-primary);
}

.color-primary__light {
  background-color: var(--color-primary__light);
}

.color-primary__lighter {
  background-color: var(--color-primary__lighter);
}

 .color-primary__dark {
  background-color: var(--color-primary__dark);
 }

 .color-primary__darker {
  background-color: var(--color-primary__darker);
 }

.color-secondary--blue {
  background-color: var(--color-secondary--blue);
}
.color-secondary--blue__light {
  background-color: var(--color-secondary--blue__light);
}

.color-secondary--blue__lighter {
  background-color: var(--color-secondary--blue__lighter);
}

.color-secondary--blue__dark {
  background-color: var(--color-secondary--blue__dark);
}

.color-secondary--blue__darker {
  background-color: var(--color-secondary--blue__darker);
}

.color-secondary--green {
  background-color: var(--color-secondary--green);
}
.color-secondary--green__light {
  background-color: var(--color-secondary--green__light);
}

.color-secondary--green__lighter {
  background-color: var(--color-secondary--green__lighter);
}

.color-secondary--green__dark {
  background-color: var(--color-secondary--green__dark);
}

.color-secondary--green__darker {
  background-color: var(--color-secondary--green__darker);
}

.color-secondary--yellow {
  background-color: var(--color-secondary--yellow);
}
.color-secondary--yellow__light {
  background-color: var(--color-secondary--yellow__light);
}

.color-secondary--yellow__lighter {
  background-color: var(--color-secondary--yellow__lighter);
}

.color-secondary--yellow__dark {
  background-color: var(--color-secondary--yellow__dark);
}

.color-secondary--yellow__darker {
  background-color: var(--color-secondary--yellow__darker);
}

.color-secondary--orange {
  background-color: var(--color-secondary--orange);
}

.color-secondary--orange__light {
  background-color: var(--color-secondary--orange__light);
}

.color-secondary--orange__lighter {
  background-color: var(--color-secondary--orange__lighter);
}

.color-secondary--orange__dark {
  background-color: var(--color-secondary--orange__dark);
}

.color-secondary--orange__darker {
  background-color: var(--color-secondary--orange__darker);
}

.color-neutral__100 {
  background-color: var(--color-neutral__100);
}

.color-neutral__90 {
  background-color: var(--color-neutral__90);
}

.color-neutral__70 {
  background-color: var(--color-neutral__70);
}

.color-neutral__50 {
  background-color: var(--color-neutral__50);
}

.color-neutral__30 {
  background-color: var(--color-neutral__30);
}

.color-neutral__15 {
  background-color: var(--color-neutral__15);
}

.color-neutral__07 {
  background-color: var(--color-neutral__07);
}

.color-neutral__03 {
  background-color: var(--color-neutral__03);
}

.color-neutral__00 {
  background-color: var(--color-neutral__00);
}

.color-status--success {
  background-color: var(--color-status--success);
}

.color-status--success__light {
  background-color: var(--color-status--success__light);
}

.color-status--success__dark {
  background-color: var(--color-status--success__dark);
}

.color-status--warning {
  background-color: var(--color-status--warning);
}

.color-status--warning__light {
  background-color: var(--color-status--warning__light);
}

.color-status--warning__dark {
  background-color: var(--color-status--warning__dark);
}

.color-status--error {
  background-color: var(--color-status--error);
}

.color-status--error__light {
  background-color: var(--color-status--error__light);
}

.color-status--error__dark {
  background-color: var(--color-status--error__dark);
}

.color-status--info {
  background-color: var(--color-status--info);
}

.color-status--info__light {
  background-color: var(--color-status--info__light);
}

.color-status--info__dark {
  background-color: var(--color-status--info__dark);
}

.color-text--dark__100 {
  background-color: var(--color-text--dark__100);
}

.color-text--dark__90 {
  background-color: var(--color-text--dark__90);
}

.color-text--dark__70 {
  background-color: var(--color-text--dark__70);
}

.color-text--dark__50 {
  background-color: var(--color-text--dark__50);
}

.color-text--dark__30 {
  background-color: var(--color-text--dark__30);
}

.color-text--light__15 {
  background-color: var(--color-text--light__15);
}

.color-text--light__07 {
  background-color: var(--color-text--light__07);
}

.color-text--light__03 {
  background-color: var(--color-text--light__03);
}

.color-text--light__00 {
  background-color: var(--color-text--light__00);
}

/* BORDAS */

.dass-sb-border {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background-color: var(--color-primary);
}

.border-radius-sm {
  border-radius: var(--border-radius-sm);
}

.border-radius-md {
  border-radius: var(--border-radius-md);
}

.border-radius-lg {
  border-radius: var(--border-radius-lg);
}

/* TIPOGRAFIA */

.font-display--1 {
  font: var(--font-display--1) !important;
}

.font-display--2 {
  font: var(--font-display--2) !important;
}

.font-display--3 {
  font: var(--font-display--3) !important;
}

.font-display--4 {
  font: var(--font-display--4) !important;
}

.font-heading--1__regular {
  font: var(--font-heading--1__regular) !important;
}

.font-heading--1__bold {
  font: var(--font-heading--1__bold) !important;
}

.font-heading--2__regular {
  font: var(--font-heading--2__regular) !important;
}

.font-heading--2__bold {
  font: var(--font-heading--2__bold) !important;
}

.font-heading--3__regular {
  font: var(--font-heading--3__regular) !important;
}

.font-heading--3__bold {
  font: var(--font-heading--3__bold) !important;
}

.font-heading--4__regular {
  font: var(--font-heading--4__regular) !important;
}

.font-heading--4__bold {
  font: var(--font-heading--4__bold) !important;
}

.font-heading--5__regular {
  font: var(--font-heading--5__regular) !important;
}

.font-heading--5__bold {
  font: var(--font-heading--5__bold) !important;
}

.font-body--default__regular {
  font: var(--font-body--default__regular) !important;
}

.font-body--default__bold {
  font: var(--font-body--default__bold) !important;
}

.font-body--small__regular {
  font: var(--font-body--small__regular) !important;
}

.font-body--small__bold {
  font: var(--font-body--small__bold) !important;
}

.font-body--caption__regular {
  font: var(--font-body--caption__regular) !important;
}

.font-body--caption__bold {
  font: var(--font-body--caption__bold) !important;
}

.font-body--caption-small__regular {
  font: var(--font-body--caption-small__regular) !important;
}

.font-body--caption-small__bold {
  font: var(--font-body--caption-small__bold) !important;
}

.font-body--global__link {
  font: var(--font-body--global__link) !important;
}

.font-body--global__label {
  font: var(--font-body--global__label) !important;
}

.font-body--global__button {
  font: var(--font-body--global__button) !important;
}

.font-body--global__message {
  font: var(--font-body--global__message) !important;
}

/* SOMBRAS */

.dass-sb-shadow {
  display: inline-flex;
  width: 32px;
  height: 32px;
  background-color: var(--color-primary) !important;
  border-radius: var(--border-radius-lg) !important;
}

.shadow-sm {
  box-shadow: var(--shadow-sm);
}

.shadow-md {
  box-shadow: var(--shadow-md);
}

.shadow-lg {
  box-shadow: var(--shadow-lg);
}

.shadow-focus {
  outline: var(--shadow-focus);
}